* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

/* ===================
      Header
======================== */

.header {
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
  height: 10vh;

  background: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

.header a {
  display: inline-flex;
  text-decoration: none;
  color: black;
  border: 1px solid grey;
  border-radius: 20px;
  padding: 7px;
  margin: 0px 12px;
  transition: 0.5s;
}

.header a:hover {
  background-color: #bec3cf;
}

/* =========================
        Profile
========================= */
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  flex-direction: column;
}

.user-profile {
  display: flex;
  justify-content: center;
  width: 90vw;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.resume {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30vw;
  margin: 30px;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.resume button {
  width: fit-content;
  padding: 5px;
  border-radius: 3px;
  margin: 5px;
}

/* ===================
      JobList
======================== */

.jobList {
  border: 1px solid violet;
}
table {
  border-collapse: collapse;
}
td,
th {
  border: 1px solid black;
  padding: 8px;
}

/* ===================
      Home
===================== */
.home-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
}

.jobs li {
  display: flex;
  align-items: center;
  border: solid 2px #d0d0d0;
  border-radius: 0.2em;
  padding: 0.5em 0.8em 0.5em 0.5em;
  margin-bottom: 1em;
}
.jobs p {
  max-width: none;
  font-weight: bold;
  margin: 0;
}
